
@{
    ViewBag.Title = "Index";
}


<h2>Ćwiczenia</h2>
<input class="k-button k-primary pull-right" id="undo" value="Dodaj ćwiczenie" type="submit" />
<div id="window"></div>
<div class="demo-section k-content wide">
    <table class="table exercise" style="box-sizing: border-box;">
        <thead>
            <tr>
                <td class="col-md-2">Nazwa</td>
                <td class="col-md-4">Opis</td>
                <td class="col-md-2">Zdjecie</td>
                <td class="col-md-3">Kalorie na godzine</td>
                <td class="col-md-1"></td>
            </tr>
        </thead>
        <tbody id="listView"></tbody>
    </table>
    <div id="pager" class="k-pager-wrap"></div>
</div>

<script type="text/x-kendo-template" id="template">
    <tr>
        <td>
            #:Name#
        </td>
        <td>
            #:Description#
        </td>
        <td>
            # if(ImageName){#<img class="exercise-img" src="../images/#=IdExercise#/#=ImageName#" />#}#
        </td>
        <td>
            #:CaloriesPerHour#
        </td>
        <td class="text-center">
            <div class="btn btn-default inline" data-id="#=IdExercise#">Edytuj</div>
            <div class="btn btn-default inline" data-id="#=IdExercise#">Usuń</div>
        </td>

    </tr>
</script>

@section Scripts{

    <script>
        $(function () {
            var dataSource = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: "@Url.Action("GetExercise","Exercises", new { httproute = "" })",
                        dataType: "json"
                    }
                },
                pageSize: 21
            });

            $("#pager").kendoPager({
                dataSource: dataSource
            });

            $("#listView").kendoListView({
                dataSource: dataSource,
                template: kendo.template($("#template").html())
            });

            var myWindow = $("#window"), undo = $("#undo");

            function onClose() {
                undo.fadeIn();
            }

            myWindow.kendoWindow({
                width: "615px",
                title: "Dodaj ćwiczenie",
                content: '@Url.Action("Add", "Excercise")',
                close: onClose,
                visible: false
            });

            undo.click(function () {
                myWindow.data("kendoWindow").open();
                $.validator.unobtrusive.parse($('#add-form'));
                undo.fadeOut();
            });

            $(document).on('click','#add-btn',function () {
                var form = $('#add-form');
                var formData = new FormData(form[0]);
                var formArray = form.serializeArray();
                formArray.push({ name: "ImageName", value: $("#ImageName")[0].files[0].name })
                if (form.valid()) {
                    var imagexhr = $.ajax({
                        url: "@Url.Action("FileUpload", "Excercise")",
                        type: "POST",
                        data: formData,
                        async: false,
                        cache: false,
                        contentType: false,
                        processData: false
                    });
                    imagexhr.done(function (data) {
                        if (data.Success) {
                            $.post(form.attr("action"), formArray, function () { location.reload(); })
                        }
                    })
                }
            });
        });
    </script>

}
