
@{
    ViewBag.Title = "Index";
}

@using Microsoft.AspNet.Identity;
<h2>Ćwiczenia</h2>
<input class="k-button k-primary pull-right" id="undo" value="Dodaj ćwiczenie" type="submit" />
<div id="window"></div>
<div class="demo-section k-content wide">
    <table class="table exercise" style="box-sizing: border-box;">
        <thead>
            <tr>
                <td class="col-md-1">Nazwa</td>
                <td class="col-md-3">Opis</td>
                <td class="col-md-3">Zdjecie</td>
                <td class="col-md-3">Kalorie na godzine</td>
                <td class="col-md-2"></td>
            </tr>
        </thead>
        <tbody id="listView"></tbody>
    </table>
    <div id="pager" class="k-pager-wrap"></div>
</div>

<script type="text/x-kendo-template" id="template">
    <tr>
        <td>
            #:Name#
        </td>
        <td>
            #:Description#
        </td>
        <td>
            # if(ImageName){#<img class="exercise-img" src="../images/#=IdExercise#/#=ImageName#" />#}#
        </td>
        <td>
            #:CaloriesPerHour#
        </td>
        <td class="text-center">
            <div class="btn btn-default inline edit-excercise" data-id="#=IdExercise#">Edytuj</div>
            <div class="btn btn-default inline delete-excercise" data-id="#=IdExercise#">Usuń</div>
        </td>

    </tr>
</script>

@section Scripts{

    <script>
        $(document).ready(function () {
            var userId = "@User.Identity.GetUserId()";

            var dataSource = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: "/api/exercises/user/" + userId,
                        dataType: "json"
                    }
                },
                pageSize: 21
            });
            $("#pager").kendoPager({
                dataSource: dataSource
            });

            $("#listView").kendoListView({
                dataSource: dataSource,
                template: kendo.template($("#template").html())
            });

            var myWindow = $("#window"), undo = $("#undo");

            function onClose() {
                $('#IdExercise').val(null);
                $('#Name').val(null);
                $('#Description').val(null);
                $('#CaloriesPerHour').val(null);
                $('#ImageName').val(null);
                undo.fadeIn();
            }

            myWindow.kendoWindow({
                width: "615px",
                title: "Dodaj ćwiczenie",
                content: '@Url.Action("Add", "Excercise")',
                close: onClose,
                visible: false
            });

            undo.click(function () {
                $('#add-btn').show();
                $('#update-btn').hide();
                openform()
            });

            function openform() {
                myWindow.data("kendoWindow").open();
                $.validator.unobtrusive.parse($('#add-form'));
                undo.fadeOut();
            }

            $(document).on('click', '.edit-excercise',function () {
                var id = this.dataset['id'];
                var jqueryxhr = $.get("api/Exercises/" + id);
                jqueryxhr.done(function (data) {
                    if (data) {
                        $('#IdExercise').val(data.IdExercise);
                        $('#Name').val(data.Name);
                        $('#Description').val(data.Description);
                        $('#CaloriesPerHour').val(data.CaloriesPerHour);
                        if (!data.ImageName) {
                            $('#ImageName').val(data.ImageName);
                        } else {
                            $('#ImageName').val('');

                        }
                        $('#add-btn').hide();
                        $('#update-btn').show();
                        openform();
                    }

                });
            });

            $(document).on('click','#add-btn',function () {
                var form = $('#add-form');
                var formData = new FormData(form[0]);
                var formArray = form.serializeArray();
                var image = $("#ImageName");
                if (image[0].files[0]) {
                    var value = $("#ImageName")[0].files[0].name;
                }
                formArray.push({ name: "ImageName", value: value })
                if (form.valid()) {
                    var imagexhr = $.ajax({
                        url: "@Url.Action("FileUpload", "Excercise")",
                        type: "POST",
                        data: formData,
                        async: false,
                        cache: false,
                        contentType: false,
                        processData: false
                    });
                    imagexhr.done(function (data) {
                        if (data.Success) {
                            $.post(form.attr("action"), formArray, function () { location.reload(); })
                        }
                    })
                }
            });

            $(document).on('click','#update-btn',function () {
                var id = $('#IdExercise').val();
                var form = $('#add-form');
                var formData = new FormData(form[0]);
                var formArray = form.serializeArray();
                var image = $("#ImageName");
                if (image[0].files[0]) {
                    var value = $("#ImageName")[0].files[0].name;
                }
                formArray.push({ name: "ImageName", value: value })
                if (form.valid()) {
                    var imagexhr = $.ajax({
                        url: "@Url.Action("FileUpload", "Excercise")",
                        type: "POST",
                        data: formData,
                        async: false,
                        cache: false,
                        contentType: false,
                        processData: false
                });
                imagexhr.done(function (data) {
                    if (data.Success) {
                        var updatexhr = $.ajax({
                            url: "api/Exercises/" + id,
                            type: "PUT",
                            data: formArray,
                        });
                        updatexhr.done(function(){location.reload()})
                    }
                })
            }
            });

            $(document).on('click', '.delete-excercise', function () {
                var id = this.dataset["id"];
                var url = '/api/Exercises/' + id + '/user/' + userId;
                var deletexhr = $.ajax({
                    url: url,
                    type: 'DELETE'
                });
                deletexhr.done(function () { location.reload();})
            });
        });
    </script>

}
