<h1>Zarejestruj się</h1>
<form #f="ngForm" (ngSubmit)="register(f)">
    <div class="group">
        <label for="login">Login</label>
        <input [(ngModel)]="login" class="form-input" email required type="text" id="login" name="login" #mail="ngModel" />
        <div *ngIf="mail.invalid && (mail.dirty || mail.touched)">
            <div [hidden]="!mail.errors.required" class="alert alert-danger">
                Login jest wymagany
            </div>
            <div [hidden]="mail.errors.required || !mail.errors.email" class="alert alert-danger">
                Nieprawidłowy format email.
            </div>
        </div>
    </div>
    <div class="group">
        <label for="password">Hasło</label>
        <input [(ngModel)]="password" class="form-input" required type="password" minlength="6" id="password" name="password" #pass="ngModel" />
        <div *ngIf="pass.invalid && (pass.dirty || pass.touched)">
            <div [hidden]="!pass.errors.required" class="alert alert-danger">
                Hasło jest wymagane.
            </div>
            <div [hidden]="!pass.errors.minlength" class="alert alert-danger">
                Hasło musi mieć minimum 6 znaków.
            </div>
        </div>
    </div>
    <div class="group">
        <label for="passwordConfirm">Potwierdź hasło</label>
        <input [(ngModel)]="passwordConfirm" class="form-input" required type="password" id="passwordConfirm" name="passwordConfirm" #passConfirm="ngModel"  />
        <div *ngIf="passConfirm.invalid && (passConfirm.dirty || passConfirm.touched)">
            <div [hidden]="!passConfirm.errors.required" class="alert alert-danger">
                Potwierdzenie hasła jest wymagane.
            </div>
        </div>
        <div *ngIf="password && passwordConfirm && password != passwordConfirm" class="alert alert-danger">
            Hasło i potwierdzenie muszą być takie same.
        </div>
    </div>
    <button type="submit" class="btn-main" [disabled]="!f.form.valid || password != passwordConfirm">Zajerestruj się</button>
</form>