<h1>{{title}}</h1>
<div class="buttons" style="height:50px;">
    <a class="btn-main pull-right" style="color:#fff;" routerLink="add">Dodaj ćwiczenie</a>
</div>

<router-outlet></router-outlet>

<div *ngIf="exercises">
    <pager [currentPage]="currentPage" [pageSize]="pageSize" [lastPage]="lastPage" [total]="total" baseUrl="/exercises"></pager>
    <table class="exercise-table">
        <thead>
            <tr>
                <th class="col-name">Nazwa</th>
                <th class="col-description">Opis</th>
                <th class="col-picture">Obraz</th>
                <th class="col-callories">cal / h</th>
                <th class="col-buttons"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let exercise of exercises">
                <td>{{exercise.Name}}</td>
                <td>{{exercise.Description | truncate :250}}</td>
                <td>
                    <div class="exercise-img" *ngIf="exercise.ImageName">
                        <img src="/images/{{exercise.IdExercise}}/{{exercise.ImageName}}" />
                    </div>
                </td>
                <td>{{exercise.CaloriesPerHour}}</td>
                <td>
                    <div class="buttons">
                        <a class="btn-default" routerLink="edit/{{exercise.IdExercise}}">Edytuj</a>
                        <div class="btn-error" (click)="delete(exercise.IdExercise)">Usuń</div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <pager [currentPage]="currentPage" [pageSize]="pageSize" [lastPage]="lastPage" [total]="total" baseUrl="/exercises"></pager>
</div>
