<h1>{{title}}</h1>
<a routerLink="details"></a>
<router-outlet></router-outlet>

<div *ngIf="exercises">
    <pager [currentPage]="currentPage" [pageSize]="pageSize" [lastPage]="lastPage" [total]="total" baseUrl="/exercises"></pager>
    <table class="exercise-table">
        <thead>
            <tr>
                <th>Nazwa</th>
                <th>Opis</th>
                <th>Obraz</th>
                <th>Kalorie na godzine</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let exercise of exercises">
                <th>{{exercise.Name}}</th>
                <th>{{exercise.Description}}</th>
                <th>
                    <div class="exercise-img" *ngIf="exercise.ImageName">
                        <img src="/images/{{exercise.IdExercise}}/{{exercise.ImageName}}" />
                    </div>
                </th>
                <th>{{exercise.CaloriesPerHour}}</th>
                <th>
                    <div class="buttons">
                        <div class="btn-error" (click)="delete(exercise.IdExercise)">Usuń</div>
                    </div>
                </th>
            </tr>
        </tbody>
    </table>
    <pager [currentPage]="currentPage" [pageSize]="pageSize" [lastPage]="lastPage" [total]="total" baseUrl="/exercises"></pager>
</div>
